<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.judy.june.wifi"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk
        android:minSdkVersion="19"
        android:targetSdkVersion="21" />
    
    <!-- 声明手机粗略定位授权 -->
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <!-- 声明手机精细定位授权 -->
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <!-- 声明手机模拟定位授权 -->
    <uses-permission android:name="android.permission.ACCESS_MOCK_LOCATION" />
    <!-- 声明联网授权 -->
    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name=".MainActivity"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.judy.june.gps.GPSLocation"
            android:label="@string/title_activity_gpslocation" >
        </activity>
    </application>

</manifest>
